<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <span>Incident management system</span>
  <nav>
    <ul fxLayout="row" fxLayoutGap="16px">
      <li>
        <a
          [routerLink]="['/incidents']"
          routerLinkActive="active-link"
          mat-button
          >Incidents</a
        >
      </li>
      <li *ngIf="isModerator">
        <a
          [routerLink]="['/process-incident']"
          routerLinkActive="active-link"
          mat-button
          >Process Incident</a
        >
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li *ngIf="!isLoggedIn">
        <a mat-button (click)="onLogin()">Login</a>
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">
          {{ userProfile.username }}
          <mat-icon iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</mat-toolbar>
